        body {margin:0;}

        div {
          padding:10px
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #e9d8f4;
          position: fixed;
          top: 0;
          position: sticky;
          width: 100%;
          border: 1px solid deeppink;
        }

        li {
          float: left;
          border-right: 1px solid #db7093;
        }

        li a {
          display: block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover{
          color: white;
          background-color: black;
          font-weight: bold;
          text-decoration: none;
        }
/*``````````````````````````*/
.header, .footer{
    background-image: linear-gradient(to right ,DeepPink, Blue);
    color: white;
}
thead{
    background-color: #e9d8f4;
    font-weight: bold;
}
table{
  text-align: center;
}
span{
  color: red;
  font-style: italic;
}
