body{
    font-family: arial;
   /*background-color: LemonChiffon;*/
}
table{
    /*width: 50%;*/
}
table,tr,td{
    border: 1px solid PaleGreen;
    border-collapse: collapse;
}
td{
    text-align: center;
    padding: 10px 15px;
}
thead{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: red;
}
fieldset{
    width: 400px;
    background-color: LightSteelBlue;
    color: black;
    margin: 5px;
    border-radius: 15px;
}
legend{
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px 10px;
}
button{
    font-weight: bold;
    padding: 5px 25px;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: Cornsilk ;
    border-radius: 15px;
}
input{
    padding: 5px;
    border-radius: 15px;
}
select{
    padding: 5px;
    border-radius: 15px;
    width: 100%;
}
#mau{
   background-color: PeachPuff;
}
img{
   height: 30vw;
}
h1{
    text-align: center;
    color: ;
}
#fl_right{
    text-align: right;
}
#table_themnv{
    background-color: PaleGreen;
}